body {
    background-color: #00000067;
    font-size: large;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35%;
    padding: 3%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px #0000004D;
    color: #747474;
    border-radius: 5px;

}

.forgot {
    color: #595959;
    font-weight: bold;
}

.line {
    line-height: 0.9;
}