*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d3d3d3;
}

div{
    overflow: hidden;
}

.topcont{
    display: flex;
    background-color: #ffffff;
    padding: 0 1%;
    align-items: stretch;
}

.col1{
    flex: 1 1 85%;
}

.col2{
    flex: 1 1 5%;
    text-align: right;
}

.col3{
    flex: 1 1 5%;
    margin: auto;
}

.col4{
    flex: 1 1 5%;
    margin: auto;
}

.content{
    width: 96%;
    margin: 2%;
    background-color: #ffffff;
}

.heading{
    font-weight: bold;
}

.text{
    color: #808080;
}

.left{
    width: 40%;
    float: left;
}

.right{
    width: 60%;
    float: right;
}

.toprow{
    border-bottom: 2px solid #d3d3d3;
    padding: 3%;
}

.leftrow1{
    border-bottom: 2px solid #d3d3d3;
    padding: 8% 6%;
}

.leftrow{
    border-bottom: 2px solid #d3d3d3;
    padding: 8% 6%;
    background-color: #ecebeb;
    border-right: 2px solid #d3d3d3;
}

.topright{
    padding: 6%;
}

.rightrow{
    margin: 3% 10% ;
}

.threediv{
    border-bottom: 1px solid #d3d3d3;
    padding: 5% 0;
}

.divone{
    width: 10%;
    float: left;
}

.divtwo{
    width: 80%;
    float: left;
}

.divthree{
    width: 10%;
    float: left;
    text-align: right;
}

.rightbottom{
    padding: 15% 5% 5% 10%;
}

.decor{
    color: #0cd;
}