    body {
        margin: 0%;
        padding: 0%;
        font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: #F6F8F9;
    }
    
    table {
        width: 100%;
        display: table;
        border-collapse: separate;
        border-spacing: 0px;
        border-color: grey;
    }
    
    .back {
        border-bottom: 1px solid #F0F0F0;
        padding: 3% 1% 3% 1%;
    }
    
    .menu {
        width: 80%;
        padding-left: 2%;
    }
    
    .avatar {
        width: 11%;
        text-align: right;
    }
    
    .john {
        width: 6%;
        text-align: center;
        letter-spacing: 0.9px;
    }
    
    .dropdown {
        width: 3%;
    }
    
    .margin {
        padding-bottom: 12px;
    }
    
    .container {
        background-color: #F6F8F9;
        padding: 2%;
    }
    
    .side {
        border-right: 5px solid #E6AF2E;
    }
    
    .req {
        width: 7%;
        padding: 1.5%;
        padding-bottom: 68%;
    }
    
    .req1 {
        width: 7%;
        padding: 1.5%;
        padding-bottom: 58%;
    }
    
    .box {
        box-shadow: 5px 3px 6px #00000029;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .all {
        padding: 4%;
    }
    
    .outer-container {
        width: 90%;
        padding: 2%;
    }
    
    .main-container {
        background-color: #fff;
        padding: 3%;
        box-shadow: 0px 0px 4px #00000029;
    }
    
    .public {
        background-color: #245070;
        border: 1px solid #245070;
        width: 10%;
        padding: 1% 0 1% 0;
        border-radius: 8px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
    }
    
    .private {
        background-color: #ffff;
        border: 1px solid #245070;
        width: 10%;
        color: #245070;
        padding: 1% 0 1% 0;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
        margin: 5%;
    }
    
    .left-ero {
        background-color: #245070;
        text-align: center;
        padding: 26% 0 26% 0;
        border-top-left-radius: 15px;
    }
    
    .left-icon {
        background-color: #fff;
        text-align: center;
        padding: 26% 0 26% 0;
    }
    
    .left {
        border-bottom-left-radius: 15px;
        padding: 26% 0 26% 0;
    }
    
    .basu {
        width: 2%;
    }
    
    .now {
        color: #747474;
        font-size: 12px;
    }
    
    .details {
        width: 10%;
    }
    
    .sub-detail {
        width: 90%;
        border-left: 5px solid #F7F7F7;
    }
    
    .area {
        padding-left: 10%;
        border: 1px solid #F4F8FA;
        background-color: #F4F8FA;
        padding: 3%;
        margin-bottom: 5%;
    }
    
    .sameera {
        color: #707070;
        font-size: 12px;
    }
    
    .red-dot {
        width: 10px;
        height: 10px;
        background-color: #ff0000;
        border-radius: 60%;
    }
    
    .white {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 60%;
    }
    
    td {
        padding: 0px;
    }
    
    .sameera1 {
        color: #707070;
        font-size: 14px;
        padding: 3%;
    }
    
    .side-border {
        border-left: 5px solid #41A6DF;
    }
    
    .side-border1 {
        border-left: 5px solid #747474;
    }
    
    .dot {
        width: 10%;
        height: 10px;
        border: 1px solid #FF0000;
        border-radius: 56px;
        background-color: #FF0000;
    }
    
    .color {
        padding: 5%;
    }
    
    .item {
        padding: 2% 2% 8% 2%;
        width: 70%;
        background-color: #fff;
        color: #fff;
        box-shadow: 0px 0px 4px #00000029;
    }
    
    .add {
        width: 7%;
        text-align: left
    }
    
    .img {
        width: 11.5%;
        text-align: left;
    }
    
    .REQUEST {
        font-size: 14px;
        padding-left: 0%;
        color: #505050;
        font-weight: 700;
    }
    
    .attachment {
        color: #505050;
        font-size: 14px;
        font-weight: 700;
        padding-left: 0%;
        color: #000000;
    }
    
    .doc {
        width: 40%;
        border: 1px solid #D5E2E8;
    }
    
    .file {
        margin-left: 46%;
        color: #fff;
        font-size: 12px;
    }
    
    .lorem_kb {
        font-size: 12px;
        color: #505050;
        padding-left: 1.5%;
    }
    
    .lorem_abc {
        font-size: 10px;
        color: #505050;
        padding: .5%;
        border-top: 1px solid #D5E2E8;
    }
    
    .ipsum {
        font-size: 12px;
        color: #505050;
        padding-left: 0%;
        color: #909090;
        padding-bottom: 3%;
    }
    
    .back-color {
        background-color: #F7F7F7;
        border: 10px splid #F4F8FA;
    }
    
    .image {
        width: 10%;
        text-align: center;
    }
    
    .v-line {}
    
    .bottom {
        padding-bottom: 70%;
    }
    
    .luke {
        width: 20%;
    }
    
    .email {
        color: #595959;
        font-size: 12px;
        font-weight: 700;
    }
    
    .email1 {
        color: #595959;
        font-size: 10px;
    }
    
    .icon1 {
        text-align: center;
    }
    
    .pluse {
        width: 20%;
    }
    
    .lorem {
        font-size: 12px;
        color: #505050;
        padding-left: 0%;
    }
    
    .ibm {
        width: 20%;
    }
    
    .second {
        width: 10%;
        text-align: center;
    }
    
    .jul {
        width: 10%;
        text-align: center;
    }
    
    .rs {
        width: 10%;
        text-align: center;
    }
    
    .select {
        background-color: #fff;
        border: 1px solid #F0F0F0;
        padding: 2% 15% 8% 2%;
    }
    
    .computer {
        color: #000;
        letter-spacing: 0.5px;
        font-size: 12px;
        border: 1px solid #DFEBEF;
        width: 50%;
    }
    
    .documents {
        color: #747474;
        letter-spacing: 0.5px;
        font-size: 12px;
    }
    
    .lorem1 {
        font-size: 12px;
        color: #505050;
        width: 30%;
    }
    
    .sucesess {
        color: #fff;
        background-color: #32BDD2;
        border: 1px solid #32BDD2;
        width: 18%;
        padding: 1% 0% 1% 0%;
        border-radius: 20px;
    }
    
    .text {
        width: 70%;
        padding: 2.5% 0 2.5% 0;
    }
    
    .submt {
        padding-top: 3%;
    }
    
    .draft {
        width: 87%;
    }
    
    .back2 {
        width: 8%;
    }
    
    .down {
        padding: 10% 0 2% 0;
    }
    
    .save {
        width: 20%;
    }
    
    .save-draft {
        width: fit-content;
        padding: 5px;
        font-weight: 700;
        border-bottom: 2px solid #505050;
        font-size: 10px;
        color: #505050;
        float: left;
        clear: left;
        vertical-align: middle;
    }
    
    .padding {
        padding: .5%;
    }
    
    .back1 {
        color: #32BDD2;
        font-size: 12px;
        border-bottom: 2px solid #32BDD2;
        padding-bottom: 0.5%;
        font-weight: 700;
        text-align: center;
    }
    
    .item-1 {
        width: 7%;
        text-align: center;
    }
    
    .add-1 {
        width: 25%;
        text-align: left;
    }
    
    .luke {
        font-size: 12px;
        color: #747474;
    }
    
    .invite {
        padding-top: 4px;
    }
    
    .REQUEST {
        width: 33%;
    }
    
    .overlay {
        text-align: center;
        background-color: #FCFDFF;
        border-radius: 80px;
        padding: 2% 5% 2% 5%;
        z-index: 10;
    }
    
    .sub {
        color: #909090;
        font-size: 14px;
    }
    
    .july {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
    }