* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    width: 85%;
}

.johnimg {
    width: 5%;
}

.johnname {
    width: 5%;
}

.dropdown {
    width: 5%;
}