* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

div {
    width: 100%;
    overflow: hidden;
}

.parent {
    padding: 10% 30%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 15px;
    width: 98%;
    margin: 1%;
}

.forgot {
    margin-bottom: 5%;
}

.forgotText {
    letter-spacing: 1.6px;
    color: #595959;
    font-weight: bold;
    border-bottom: 3px solid #595959;
    padding-bottom: 4px;
}

.text {
    letter-spacing: 0.6px;
    color: #747474;
    font-size: 12px;
}

.email {
    letter-spacing: 0.6px;
    color: #505050;
    margin-top: 11%;
}

.box {
    border: 1px solid #D3D3D3;
    width: 90%;
    padding: 5px;
    margin-top: 2%;
    border-radius: 5px;
}

.gap{
    margin-top: 1%;
}

.colimg{
    width: 4%;
    float: left;
}

.coltext{
    width: 96%;
    float: right;
}

.redtext{
    color: #BF574A;
    letter-spacing: 0.55px;
    font-size: 12px;
}

.button {
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 14px 35px;
    box-shadow: 1px 1px 5px #00000040;
    border-radius: 21px;
    border: 0;
    background-color: #32BDD2;
    margin-top: 14%;
}
