*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;
}

.parent{
    background-color: #F6F8F9;
    padding: 2.5%;
}

.child{
    padding: 15.8% 30% 15.5% 30%;
}

.loginbox{
    margin-bottom: 15.1%;
}

.child{
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 15px;
}

.loginText{
    font-family: 'Roboto';
    font-size: 1.56vw;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #595959;
    font-weight: bold;
    border-bottom: 3px solid #595959;
}

.text{
    font-family: 'Roboto';
    font-size: 1.17vw;
    letter-spacing: 0.6px;
    color: #505050;
    margin-bottom: 2.8%;
}

.textBox {
    border: 1px solid #D3D3D3;
    width: 100%;
    border-radius: 5px;
    padding: 1.5%;
    margin-bottom: 13.36%;
}

.textBoxtwo {
    border: 1px solid #D3D3D3;
    width: 100%;
    border-radius: 5px;
    padding: 1.5%;
    margin-bottom: 6.4%;
}

.column1{
    width: 50%;
    float: left;
}

.column2{
    width: 50%;
    float: right;
}

.row{
    margin-bottom: 21.3%;
}

.check {
    border: 1px solid #808495;
    border-radius: 2px;
    color: #ffffff;
    margin-right: 10px;
}

.remember{
    font-family: 'Roboto';
    font-size: 0.97vw;
    letter-spacing: 0;
    color: #707070;
    font-size: smaller;
    vertical-align: top;
}

.forgot {
    font-family: 'Roboto';
    font-size: 0.97vw;
    letter-spacing: 0;
    color: #707070;
    text-decoration: none ;
    border-bottom: 1px solid #868686;
    float: right;
}

.loginButton {
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding: 14px 48px;
    box-shadow: 1px 1px 5px #00000040;
    border-radius: 21px;
    border: 0;
    background-color: #32BDD2;
}

.clear{
    clear: both;
}